.cartBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.cart {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 400px;
  background-color: var(--white);
}

.cartHeader {
  padding: 12px;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: calc(24px / 2);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--light-grey);
  }

  svg {
    width: 50%;
  }
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
}

.empty {
  font-style: italic;
  color: var(--grey);
  text-align: center;
}

.checkoutButton {
  background-color: var(--blue);
  padding: 16px;
  font-size: 20px;
  color: var(--white);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--dark-blue);
  }

  &:disabled {
    background-color: var(--grey);
    cursor: not-allowed;
  }
}